@page
@using Microsoft.AspNetCore.Identity
@using VideoOnDemand.Data.Data.Entities
@inject SignInManager<User> SignInManager

@model DeleteModel
@{
    ViewData["Title"] = "Delete Video";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h2>@ViewData["Title"]</h2>
            <page-button path="Videos/Index" Bootstrap-style="primary" glyph="info-sign" description="Back to List"></page-button>
            <page-button path="Videos/Edit" Bootstrap-style="success" glyph="pencil" description="Edit" id="@Model.Input.Id"></page-button>
            <page-button path="Index" Bootstrap-style="warning" glyph="list-alt" description="Dashboard"></page-button>
            <p></p>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Input.Title)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Title)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Description)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Duration)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Duration)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Thumbnail)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Thumbnail)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Url)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Url)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Position)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Position)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Course)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Course.Title)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Module)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Module.Title)</dd>
            </dl>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <input type="hidden" asp-for="Input.Id" />
                <input type="hidden" asp-for="Input.Title" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
}
